DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=1234
DB_NAME=hangang_parking
SEOUL_API_KEY=416f6b475561697337354b78665354
SECRET_KEY=hangang-parking-jwt-secret-2025-very-long-key
KAKAO_API_KEY=여기에_입력
MLFLOW_TRACKING_URI=http://127.0.0.1:5000